.profile-img {
    display: none;
}



.left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-heading {
    padding: 4rem 0;
    font-size: clamp(1rem, 10vw, 5.5rem);
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
}

.home-heading_name {
    color: var(--font-clr-primary);
}

.profile-img_mobile-container {
    display: flex;
    justify-content: center;
}

.profile-img_mobile {
    max-width: 50vw;
    border-radius: 10rem;
}

.home-bio {
    font-size: clamp(1rem, 5.5vw, 3rem);
    padding: 3.2rem 0;
}

.home-btn {
    padding: clamp(.5rem, 4.5vw, 3rem) clamp(1rem, 8.5vw, 4rem);
    color: #fff;
    background-color: var(--font-clr-primary);
    font-size: clamp(1.2rem, 5.5vw, 3rem);
    font-weight: 700;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
}


.home-btn:hover {
   color: var(--font-clr-primary);
   background-color: #fff;

}


@media screen and (min-width: 500px) {
    .home {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .left-container {
        align-items: flex-start;
    }


    .profile-img_mobile {
        display: none;
    }

    .profile-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 40%;
    }


    .home-btn {
        margin-top: 2rem;
        padding: clamp(.5rem, 2.5vw, 1.2rem) clamp(1rem, 8.5vw, 2.9rem);
        font-size: clamp(.5rem, 5.5vw, 1.9rem);

    }


}