.navbar {
    margin-left: 14rem;
    width: 35rem;
}

.nav-list {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.nav-list_link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
}

.nav-list_link a {
    color: #fff;
}

.nav-list_link a:hover {
    color: var(--font-clr-primary);
}

/* Media Query  */

@media screen and (max-width: 1115px) {

    .navbar {
        margin: 2rem 0 0 2rem;
    }

    .nav-list_link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2rem;
    }

}