.navbar {
    /* background-color: palegreen; */
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: clamp(1.5rem, 2.5vh, 10rem) clamp(1rem, 3.5vh, 10rem);
}

.nav-list_link {
    font-size: clamp(1rem, 3vw, 1.3rem);
    font-weight: 700;
    text-transform: uppercase;
}

.nav-list_link a:hover {
    color: var(--font-clr-primary);
}

@media screen and (min-width: 500px) {
    .nav-list {
        gap: 2.4rem;
        margin: clamp(1.5rem, 2.5vh, 10rem) 0;
        justify-content: flex-start;
    }
}