.footer {
    margin: 5rem auto 0 auto;
    padding: clamp(1rem, 1vh, 3rem) clamp(1rem, 8vh, 10rem);
    background-color: var(--font-clr-primary);
    width: 100vw;
}

.footer-heading {
    font-size: clamp(1rem, 4vh, 5rem);
    margin-bottom: 2rem;
}

.footer-icons_container>* {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-location_icon,
.footer-phone_icon,
.footer-email_icon {
    margin: 0 auto .5rem auto;
}

.footer-location_icon p,
.footer-phone_icon p,
.footer-email_icon p {
    font-size: clamp(.875rem, 2vw, 10rem);
    color: #342b2b;

}


@media screen and (min-width:500px) {
    .footer {
        padding: clamp(1rem, 1vh, 3rem) clamp(3rem, 35vw, 45rem);
    }

    .footer-heading {
        font-size: clamp(1rem, 4vh, 5rem);
        margin-bottom: 4rem;
        padding-top: 2rem;
    }

    .footer-location_icon p,
    .footer-phone_icon p,
    .footer-email_icon p {
        font-size: clamp(.875rem, 1.2vw, 10rem);
    }

    .footer-location_icon,
    .footer-phone_icon,
    .footer-email_icon {
        margin: 0 auto 1.2rem auto;
    }
}


@media screen and (min-width:600px) {
    .footer {
        padding: clamp(1rem, 1vh, 3rem) clamp(3rem, 37vw, 45rem);
    }
}

@media screen and (min-width:1100px) {
    .footer {
        padding: clamp(1rem, 1vh, 3rem) clamp(3rem, 40vw, 45rem);
    }
}