.hire-me {
    margin: 0 auto;
}

.hire-me>* {
    margin-top: 1.6rem
}

.hire-me_heading {
    font-size: clamp(1rem, 3.5vh, 5rem);
    font-weight: 500;
    line-height: 1.5;
}

.hire-me_heading span {
    color: var(--font-clr-primary);
}

.hire-me_paragraph {
    font-size: clamp(.9rem, 1vh, 2rem);
    line-height: 1.7;
}

.hire-me_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hire-me_boxes>* {
    width: 6rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hire-me_boxes h1 {
    font-size: clamp(1rem, 4.5vh, 5rem);
    font-weight: 600;
}

.hire-me_boxes span {
    font-size: clamp(.7rem, 1.5vh, 3rem);
    font-weight: 700;
}



.happy-clients_box {
    border: 2px solid hsl(84, 100%, 50%);
    border-radius: .4rem;
    color: hsl(84, 100%, 60%);
    padding: 3rem 3.5rem;
}

.happy-clients_box:hover {
    border: 2px solid hsl(85, 100%, 40%);
    color: hsl(85, 100%, 70%);
}


.projects-done_box {
    border: 2px solid hsl(0, 100%, 50%);
    border-radius: .4rem;
    color: hsl(0, 100%, 60%);
    padding: 3rem 3.5rem;
}

.projects-done_box:hover {
    border: 2px solid hsl(0, 100%, 40%);
}


.reviews_box {
    border: 2px solid hsl(236, 100%, 50%);
    border-radius: .4rem;
    color: hsl(236, 100%, 60%);
    padding: 3rem 3.5rem;
}

.reviews_box:hover {
    border: 2px solid hsl(236, 100%, 40%);
    color: hsl(236, 100%, 70%);
}

@media screen and (min-width:500px) {

    .hire-me {
        margin: 10rem auto;
    }

    .hire-me_heading {
        font-size: var(--fs-heading)
    }

    .hire-me_paragraph {
        margin-top: 4rem;
        font-size: clamp(1.3rem, 2.5vh, 5rem);
    }

    .hire-me_boxes {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 8rem;
    }

    .hire-me_boxes>* {
        width: 10rem;
        height: 7.5rem;
    }

    .hire-me_boxes h1 {
        font-size: clamp(1.2rem, 5.5vh, 5rem);
        margin-bottom: .5rem;
    }

    .hire-me_boxes span {
        font-size: clamp(1rem, 1.5vh, 3rem);
    }

}